.app {
  background: no-repeat;
  height: 920px;
  width: 736px;
}

.picture {
  position: relative;
  width: 100%;
}

.info {
  position: absolute;
  top: 170px;
  left: 30px;
  width: 100%;
}

p {
  margin: 0px;
}

.time {
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
}

.temperature {
  font-size: 110px;
  color: white;
}

.extra-time,
.pressure{
  font-size: 25px;
  color: white;
}